body{
    background-color: rgb(179, 252, 106);

    text-align: center;
    border-radius: 50%;
}

textarea {
    width: 50%;
    height: 10vh;
    margin: 1rem
}
#txt-input{
    background-color: rgb(255, 255, 172);
    font-size : 20px;
   
}
#output {
    border: 1px solid black;
    height: 7vh;
    width: 47%;
    margin: 1rem;
    padding: 1rem;
    margin: auto;
    text-align: left;
    background-color: rgb(255, 255, 172);
    font-size : 20px;

}

button{
    font-size : 20px;
    padding: 1REM;
    border-radius: 10px;
    background-color: rgb(255, 255, 117);
}